<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844604162281-421vpilsttrag4olup8q4p5maqdhpcs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844604162281-421vpilsttrag4olup8q4p5maqdhpcs1</string>
	<key>API_KEY</key>
	<string>AIzaSyBO0PkrczE5SC_f6s4uofbourxDuG4R6Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>844604162281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instantGram</string>
	<key>PROJECT_ID</key>
	<string>ahmadinstagram</string>
	<key>STORAGE_BUCKET</key>
	<string>ahmadinstagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844604162281:ios:9aaf6c0b2228f4b927b078</string>
</dict>
</plist>